@import "../global.css";
@import "../module/general-header.css";
@import "../module/supporters.css";
@import "../module/donate-card.css";
@import "../module/news-row.css";
@import "../module/event-row.css";


/* Variables  */
:root {
    /* Main Background Colors */
    --primary-bg-color: #fff;        
    --secondary-bg-color:  #EFF7F2; 
    --bg-dark: #0B0706;
      /* Common colors */
    --dark-green: #70C174;
    --light-green: #BEF3C0;
    --light-dark: #1D2130;
    --grey-color: #525560;
    --light-grey: #EBF0F9;
    --secondary-grey: #E5E5E5;  
}

/* O'zgartirilmasin */
/*----- ABOUT HOME START---- */
#about-home{
  background-color: var(--primary-bg-color);
}
.about-home{
  padding-top: 200px;
}
.about-home-content{
  display: flex;
  justify-content: space-between;
  
}
.about-home-left{
  display: flex;
  gap: 24px;
}
.about-home-right{
  max-width: 496px;
  margin-top: 32px;
}
.about-home-line{
    width: 72px;
    height: 0px;
    margin-top: 7px;
    border: 2px solid var(--light-dark);
}
.about-home-main-content h1{
  max-width: 624px;
}
.about-home-right .px_16{
  margin-top: 16px;
}

.about-home-video{
  margin-top: 6rem;
  margin-bottom: -224px;
}
/*----- ABOUT HOME START---- */

/*----- ABOUT SUPPORTERS START---- */

#about-supporters{
  background-color: var(--secondary-bg-color);
}
.about-supporters{
  padding-top: 320px;
}
.about-supporters-content{
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}
.a-supporters-left{
  max-width: 496px;
}
.a-supporters-left *:not(.line_big){
  margin-top: 5px;
}
.a-supporters-left{
  margin-top: 5px;
}

/*----- ABOUT SUPPORTERS END---- */

/*----- ABOUT AWARDS START----- */

#about-awards{
  background-color: var(--primary-bg-color);
}
.about-awards{
  padding-top: 90px;
}
.a-awards-heading{
  text-align: center;
}
.award-cards{
  display: flex;
  justify-content: space-around;
}
.award{
  text-align: center;
}
.award *{
  margin-top: 10px;
}
.award .h6_title{
  opacity: 0.6;
}
.award-cards{
  margin-top: 48px;
}

/*----- ABOUT AWARDS END---- */

/*----- ABOUT-BLACKPART START---- */
#about-black-part{
  padding-top: 96px;
  background-color: var(--primary-bg-color);
}
.about-black-part{
  display: flex;
  align-items: center;
  gap: 48px;
  background-color: var(--bg-dark);
  padding: 64px 0;
  padding-left: 96px;
  border-radius: 12px;
}
.about-black-part *{
  color: var(--primary-bg-color);
}
.stats-row{
  display: flex;
  gap: 32px;
}
.blackpart-content .px_16{
  margin: 16px 0 32px;
  max-width: 488px;
}
.blackpart-content .h2_title{
  margin-top: 16px;
}
.blackpart-img{
  overflow: hidden;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.blackpart-img img{
  transition: 8s cubic-bezier(1, 1, 1, 1);
}
.blackpart-img img:hover{
  transform: scale(1.4);
}
.stats h6{
  margin-top: 5px;
}

/*----- ABOUT-BLACKPART END---- */

/*----- ABOUT-OURTEAM END---- */
#about-ourTeam{
  padding-top: 96px;
  background-color: var(--primary-bg-color);
}
.about-ourTeam{
  padding: 0;
}
.ourTeam-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ourTeam-heading h1{
  padding-bottom: 20px;
}
.ourTeam-heading p{
  max-width: 519px;
  text-align: center;
}
.ourTeam-cards{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 50px;
  gap: 32px;
}
.person-card{
  text-align: center;
  margin-top: 10px;
}

.person-card h6{
  opacity: 0.6;
}
.person-card > *{
  margin-top: 10px;
}
.person-card-media img{
  margin: 0 10px;
}
/*----- ABOUT-OURTEAM END---- */
@media(max-width:1300px){
  .ourTeam-cards{
    grid-template-columns: auto auto auto;
    padding: 0 1.25rem;

  }
}
@media(max-width:1150px){
  .about-black-part{
    flex-direction: column;
    padding-left: 0;
    align-items: center;
    text-align: center;
  }
  .blackpart-img img{
    width: 100%;
    border-radius:12px;
  }
  .stats-row{
    display: flex;
    justify-content: center;
  }
}
@media(max-width:1000px){
  .about-home-content{
    flex-direction: column;
    align-items: center;
  }
  .about-home-right{
    margin-top: 80px;
  }
}
@media(max-width:970px){
  .ourTeam-cards{
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
  }
}

@media(max-width:800px) {
  .about-home-left{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-home-right {
    text-align: center;
  }
  .about-home-right p {
    text-align: center;
  }

}

@media(max-width:770px){
  .about-supporters-content{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .about-supporters .supporters{
    margin-top: 50px;
  }
}
@media(max-width:700px){
  .award-cards{
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media(max-width:680px){
  .ourTeam-cards{
    grid-template-columns: auto;
    grid-row-gap: 50px;
  }
}
@media(max-width:500px){
  .about-home-video iframe{
    height: 250px;
  }
  .about-home-left{
    flex-direction: column;
  }
  .about-home-left{
    text-align: center;
    align-items: center;
  }
}
@media(max-width:350px){
  .person-card > img{
    width: 100%;
  }
}
