@import "../global.css";
@import "../module/general-header.css";
@import "../module/donate-card.css";

/* Variables  */
:root {
  /* Main Background Colors */
  --primary-bg-color: #fff;
  --secondary-bg-color: #eff7f2;
  --bg-dark: #0b0706;
  /* Common colors */
  --dark-green: #70c174;
  --light-green: #bef3c0;
  --light-dark: #1d2130;
  --grey-color: #525560;
  --light-grey: #ebf0f9;
  --secondary-grey: #e5e5e5;
}

/* O'zgartirilmasin */

/* ---FIRST SECTION START---0 */

.donate {
  padding-top: 170px;
}

.donate_title {
  display: flex;
  align-items: center;
  gap: 24px;
}

.donate_right img {
  padding-bottom: 96px;
}

.donate__top {
  padding: 32px 0 14px 92px;
}

.donate__center {
  padding: 14px 0 32px 92px;
  max-width: 600px;
}

.donate__bottom {
  margin: 0 0 146px 92px;
}

.donate {
  display: flex;
  justify-content: space-between;
  gap: 76px;
}

.donate__16__width {
  max-width: 517px;
}

.donate__next__section {
  display: flex;
  align-items: center;
  gap: 96px;
  padding: 96px 0;
  border-bottom: 1px solid var(--secondary-grey);
}

.donate_right img {
  width: 100%;
}

.donate_titls {
  line-height: 160%;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1d2130;
}

.donate_Text {
  text-align: justify;
  line-height: 160%;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #525560;
}

.donate_end {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
  padding-top: 96px;
}

@media (max-width: 1188px) {
  .donate {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .donate__next__section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 96px;
    padding: 96px 0;
    border-bottom: 1px solid var(--secondary-grey);
  }
  .donate__top,
  .donate__center {
    padding-left: 0px;
  }
}

@media (max-width: 980px) {
  .donate_end {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 70px;
    padding-top: 96px;
  }
}
