@import "../global.css";
@import "../module/event-row.css";

/* Variables  */
:root {
  /* Main Background Colors */
  --primary-bg-color: #fff;
  --secondary-bg-color: #eff7f2;
  --bg-dark: #0b0706;
  /* Common colors */
  --dark-green: #70c174;
  --light-green: #bef3c0;
  --light-dark: #1d2130;
  --grey-color: #525560;
  --light-grey: #ebf0f9;
  --secondary-grey: #e5e5e5;
}

/* O'zgartirilmasin */

/* ---event__first__section__start--- */

.event__backround {
  background-color: var(--secondary-bg-color);
}

.event__title {
  padding: 170px 0 96px;
}

.h1_title {
  padding-bottom: 48px;
}

.event__info {
  display: flex;
  gap: 48px;
}

.adress {
  display: flex;
  align-items: center;
  gap: 8px;
}

.adress p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--light-dark);
}

/* ---event__first__section__end--- */

/* ---event__second__section__start--- */

.event__second__section {
  background-color: white;
}

.h2_title {
  padding: 96px 0 32px;
}

.px_16 {
  text-align: justify;
}

.event_16_top {
  padding: 15px 0 32px;
}

.event_16_bottom {
  padding: 32px 0 96px;
}

.event__about__img img {
  width: 100%;
}

.event__second_box {
  display: flex;
  flex-direction: column;
}

@media (max-width: 620px) {
  .event__info {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }

  .h1_title {
    text-align: center;
  }
}

/* ---event__second__section__end--- */
