@import "../global.css";
@import "../module/general-header.css";
@import "../module/news-row.css";
@import "../module/event-row.css";

/* Variables  */
:root {
  /* Main Background Colors */
  --primary-bg-color: #fff;
  --secondary-bg-color: #eff7f2;
  --bg-dark: #0b0706;
  /* Common colors */
  --dark-green: #70c174;
  --light-green: #bef3c0;
  --light-dark: #1d2130;
  --grey-color: #525560;
  --light-grey: #ebf0f9;
  --secondary-grey: #e5e5e5;
}

/* O'zgartirilmasin */
/* general-codes-media-news */
body {
  background-color: var(--secondary-bg-color);
}
header {
  background-color: var(--secondary-bg-color);
}

#media__news {
  margin-top: 6rem;
  padding: 5rem 0px;
}
.media__container {
  display: flex;
  justify-content: space-between;
}
/* Meia-left */
.media-news-left__paragraph {
  padding-left: 96px;
  background: url(../../images/media/frist_paragraph_bgimage.svg) left center
    no-repeat;
}
.media-news-left__heading {
  max-width: 37rem;
  margin-top: 32px;
  margin-bottom: 16px;
  padding-left: 6rem;
}
.media-news-left__second-paragraph {
  color: var(--grey-color);
  max-width: 37rem;
  margin-bottom: 3rem;
  padding-left: 6rem;
  line-height: 160%;
}
.media-news-left__btn {
  margin-left: 6rem;
}
/* Media-right */
.media-news__right {
  background-color: var(--primary-bg-color);
  border-radius: 12px;
  padding: 2rem 3.5rem 2rem 2rem;
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.media-news__card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.media-news__card:last-child {
  margin-bottom: 0px;
}
.media-news__card img {
  margin-right: 2rem;
}
.media-right__hedaing,
.media-right__paragrap {
  max-width: 18.5rem;
}
.media-right__hedaing {
  margin-bottom: 0.5rem;
}
/* Media Start */
@media (max-width: 1300px) {
  .media__container {
    flex-direction: column;
  }
  .meida-news__left {
    width: 100%;
  }
  .media-news-left__second-paragraph,
  .media-news-left__heading {
    max-width: 100%;
  }
  .media-news__right {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .media-right__hedaing,
  .media-right__paragrap {
    max-width: 100%;
  }
}
@media (max-width: 720px) {
  .media-news__card {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .media-news__card img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .media-news__right {
    padding-right: 2rem;
  }
}
